<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=1024, initial-scale=1.0" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/Content/temppacking.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            
        </header>
        <div id="body">
            @RenderBody()
        </div>

        <footer>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/knockout-2.2.0.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/typeahead.js/typeahead.js"></script>
        <script src="~/Scripts/temppacking.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
